body {
    background: url(./images/shoe-background.jpg);
    background-size: 100vw;
    padding: 0;
    margin: 0;
}

header {
    background: #000;
    height: 4rem;
}

button {
    opacity: 100%;
    border-radius: .5rem;
    border: .1rem solid black;
    background-color: whitesmoke;
    width: 10rem;
    padding: .5rem;
    margin: .2rem;
}

h5 {
    padding: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 0;
}

.company {
    color: #fff;
    font-size: 2rem;
    padding: 0;
    margin-left: 1rem;
}

.container {
    padding: 1rem;
    margin: 3rem;
    width: 40vw;
    font-size: 2rem;
    border: .1rem solid black;
    background: white;
    color: #000;
    /* opacity: 80%; */
    border-radius: 0.1rem;
}

.list-item {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid black;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}